<table class="table">
  <thead>
      <tr>
          <th></th>
          <th>ユーザー名</th>
          <th>自己紹介</th>
      </tr>
  </thead>
  <% datas.each do |user| %>
  <tbody>
      <tr>
          <th>
              <%= attachment_image_tag(user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40') %>
          </th>
          <th class="pt-3">
              <%= link_to user.name, user_path(user.id) %>
          </th>
          <th class="pt-3">
              <%= user.introduction %>
          </th>
      </tr>
  </tbody>
  <% end %>
</table>